body * {
    /* border: 1px solid grey; */
}

body {
    /* background-clip: #efeee7; */
    background-color: #efeee7;
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman",
        Times, serif;
    font-size: 18px;
    line-height: 150%;
}


header {
    height: 31px;
    border: 2px solid #cccccc; 
    background-color: #ffffff;
    margin: auto;
    padding: 25px 50px 25px 50px;
    width: 100%;
}

.title {
    float: left;
    border: 1px solid #efeee7;
    background-color: #4aaaa5;
    margin-left: 490px;
    padding-bottom: 17px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    /* border: 1px dashed blue; */
    /* background-color: #090; */
    float: right;
    margin-right: 600px;
}

nav > ul {
    padding-left: 0px;
    margin: 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: gray;
    display: inline;

}
nav > ul > li { 
    display: inline;
    padding: 0 20px 0 0;
}

h2 {
    font-size: 24px;
    text-align: left;
    margin-left: 6px;
}
#teal {
    color: #efeee7;
    font-weight: bold;
    font-size: 30px;
}

#white {
    color: #4aaaa5;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

.image-container {
            margin-left: 10px;
}

h3 {
    font-size: 24px;
    color: #4aaaa5;
    text-align: center;
}

img {
    height: 70px;
}

#social {
    width: 50px;
}
.container {
    width: 960px;
    margin: 0 auto;
}

main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid gray; */
}

#main-bio,
#bio-image {
    float: left;
}

/* .clear {
    clear: both;
} */

#main-bio {
    width: 650px;
    background-color:#ffffff;
    border: 1px solid grey;
    height: 720px;
    margin-top: 40px;
}

#contact-info {
    width: 270px;
    background-color:#ffffff;
    border: 1px solid grey;
    float: right;
    height: 200px;
    margin-top: 40px;
}

#bio-image {
    margin-right: 20px;
    width: 200px;
    height: 200px;
}

#foot {
    color: #efeee7;
    background-color: #333333;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    border-top: 6px solid red;
}

/* contacts page style */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
 }
 
 input[type=submit] {
    background-color: #4aaaa5 ;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 
 input[type=submit]:hover {
    background-color: #4aaaa5 ;
 }
 
 .message-box {
    border-radius: 5px;
    background-color: #f2f2f2 ;
    padding: 20px;
    height: 446px;
 }

 .pictures {
    margin-right: 20px;
    width: 200px;
    height: 200px;
 }
